@inject NavigationManager navigation

<div class="filters">
    <label for="Price">Max Price</label>
    <input id="MaxPrice"
           type="number"
           class="form-control"
    @bind="_maxPrice" />
    <br />
    <br />
    <button class="btn btn-outline-primary"
    @onclick="FilterSearchResults">
        Filter
    </button>
    <button class="btn btn-outline-secondary"
    @onclick="ClearSearchFilter">
        Clear
    </button>

    <br />
    <br />
</div>

@code {
    private int _maxPrice { get; set; }

    [Parameter] // this will be passed from parent to child
    public string SearchTerm { get; set; }   // for the navigate back part

    private void FilterSearchResults()
    {
        //query params

        var uriWithQuery = navigation.GetUriWithQueryParameters(new Dictionary<string, object>()
            {
                ["Price"] = _maxPrice > 0 ? _maxPrice : 0
            });
        //url querry will already be appended to url you are in
        navigation.NavigateTo(uriWithQuery);
    }

    private void ClearSearchFilter()
    {
        _maxPrice = 0;
        navigation.NavigateTo($"search/{SearchTerm}");
    }

}
